/* hover over the button to display dropdown, before if you hovered over the div area the dropwdown will display */
.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: hsl(0, 94%, 66%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: rgb(200, 92, 92);
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 94%, 76%);
}

.dropdown a:hover {
    background-color: rgb(247, 83, 83);
}