body {
    margin: 0px;
}

#box1 {
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: rgb(124, 252, 124);

    /*transform: translateX(50px); /* moves element horizontally */
    /*transform: translateY(50px); /* moves element vertically */
    /*transform: translate(50px, 50px); /* moves element horizontally and vertically */
    /*transform: rotateX(180deg); /* rotates element on the x axis */
    /*transform: rotateY(180deg); /* rotates element on the y axis */
    /*transform: rotateZ(45deg); /* rotates element on the z axis */
    /*transform: scaleX(2); /* scales element on x axis by 200% */
    /*transform: scaleY(2); /* scales element on y axis by 200% */
    /*transform: scale(2, 2); /* scales element on x axis and y axis by 200% */
    /*transform: skewX(45deg); /* skews element on x axis */
    transform: skewY(45deg); /* skews element on the y axis */
}