.container {
    display: flex;
    border: 10px solid black;
    height: 90vh; /* 90% of the webpage */
    /*
    justify content handles horizontal layout
        flex-start is default
        flex-end aligns at right side of x axis
        center places all elements at center of x axis
        space-between puts space between elements but not the margins
        space-around puts space between elements and margins
        space-evenly puts even space between elements and big space from margins
    */
    /*justify-content: space-evenly;
    /*
    align items handles vertical layout
        flex-start is default
        flex-end places elements at bottom of y axis
        center places elements at center of y axis
        baseline aligns text from elements
    */
    /*align-items: flex-start;
    /*flex-wrap: wrap; /* elements will wrap if there is not enough space */
    /*align-content: flex-start; /* all space between first and second row is gone */
}

.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1 {
    background-color: hsl(0, 100%, 70%);
    align-self: center; /* aligns just this element to the center of y axis */
}

#box2 {
    background-color: hsl(52, 100%, 70%);
    align-self: end; /* aligns just this element to the end of y axis */
}

#box3 {
    background-color: hsl(111, 100%, 70%);
    order: 1; /* moves this element to the last value of order */
}

#box4 {
    background-color: hsl(201, 100%, 70%);
    order: -1; /* moves this element to the first value of order */
}