.icons {
    text-align: center;
}

.icons a {
    text-decoration: none;
    margin-right: 20px;
}

.fa-solid.fa-house.fa-5x {
    color: hsl(137, 94%, 53%);
}

.fa-solid.fa-house.fa-5x:hover {
    color: hsl(137, 94%, 43%);
}

.fa-brands.fa-twitter.fa-5x {
    color: hsl(194, 100%, 50%);
}

.fa-brands.fa-twitter.fa-5x:hover {
    color: hsl(194, 100%, 40%);
}

.fa-brands.fa-youtube.fa-5x {
    color: hsl(0, 100%, 50%);
}

.fa-brands.fa-youtube.fa-5x:hover {
    color: hsl(0, 100%, 40%);
}

.fa-brands.fa-tiktok.fa-5x {
    color: hsl(0, 2%, 11%);
}

.fa-brands.fa-tiktok.fa-5x {
    color: hsl(0, 2%, 31%);
}