body {
    margin: opx;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none; /* removes bullet points */
    background-color: rgb(132, 185, 251);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none; /* removes underline */
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(150, 194, 247);
}

.navbar li {
    float: left; /* sets to a horizontal navbar view */
}